.container {
    display:flex;
}
.begoneborder {
    border: none;
    background: none;
    padding:0;
}
body{
    background-color: lightblue;
    section {
        width:1000px;
        height:500px;
        font-size: 12;
    }
}
.backcard{
    background-image: url(../Multimedia/cardturnedover.png);
    width:109px;
    height:150px;
    display: block;
}
.vcard0 {
    background-image: url(../Multimedia/card0n.png);
    display: block;
    width:109px;
    height:150px;
}

.vcard1 {
    background-image: url(../Multimedia/card1n.png);
    display: block;
    width:109px;
    height:150px;
}
.vcard2 {
    background-image: url(../Multimedia/card2n.png);
    display: block;
    width:109px;
    height:150px;
}

.vcard3 {
    background-image: url(../Multimedia/card3n.png);
    display: block;
    width:109px;
    height:150px;
}
.vcard4 {
    background-image: url(../Multimedia/card4n.png);
    display: block;
    width:109px;
    height:150px;
}

.vcard5 {
    background-image: url(../Multimedia/card5n.png);
    display: block;
    width:109px;
    height:150px;
}
.vcard6 {
    background-image: url(../Multimedia/card6n.png);
    display: block;
    width:109px;
    height:150px;
}

.vcard7 {
    background-image: url(../Multimedia/card7n.png);
    display: block;
    width:109px;
    height:150px;
}
.vcard8 {
    background-image: url(../Multimedia/card8n.png);
    display: block;
    width:109px;
    height:150px;
}

.vcard9 {
    background-image: url(../Multimedia/card9n.png);
    display: block;
    width:109px;
    height:150px;
}
.vcard10 {
    background-image: url(../Multimedia/card10n.png);
    display: block;
    width:109px;
    height:150px;
}

.doub {
    background-image: url(../Multimedia/doub.png);
    width:109px;
    height:150px;
}
.doubi {
    background-image: url(../Multimedia/doubi.png);
    width:109px;
    height:150px;
}
.yc {
    background-image: url(../Multimedia/yc.png);
    width:109px;
    height:150px;
}
.oc {
    background-image: url(../Multimedia/oc.png);
    width:109px;
    height:150px;
}
.uc {
    background-image: url(../Multimedia/uc.png);
    width:109px;
    height:150px;
}
.wc {
    background-image: url(../Multimedia/wc.png);
    width:109px;
    height:150px;
}
.ic {
    background-image: url(../Multimedia/ic.png);
    width:109px;
    height:150px;
}
.nc {
    background-image: url(../Multimedia/nc.png);
    width:109px;
    height:150px;
}
.qc {
    background-image: url(../Multimedia/qc.png);
    width:109px;
    height:150px;
}
